.Posts {
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: white;
	margin-bottom: 40px;
}

.infinite-scroll-component > p,
.Posts > p {
	padding: 10px;
}

.PostsHeader {
	text-align: left;
	padding: 10px;
	background-color: #f2f2f2;
	align-items: center;
	font-size: 1.3em;
}

.PostsHeader > span {
	padding: 10px;
}

@media only screen and (max-width: 420px) {
	.PostsHeader {
		flex-direction: column;
		align-items: flex-start;
	}
} 