.Posts {
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: white;
	margin-bottom: 40px;
}

.infinite-scroll-component > p,
.Posts > p {
	padding: 10px;
}

.PostsHeader {
	text-align: left;
	padding: 10px;
	background-color: #f2f2f2;
}
