.Profile,
.ProfileDetails {
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.Profile {
	margin-top: 40px;
}

.ProfileDetails {
	border: 1px solid orange;
	border-radius: 2px;
	background-color: white;
	padding: 50px 30px;
	position: relative;
	margin-top: 50px;
}

.Profile > button {
	font-size: 16px;
	margin-bottom: 20px;
}

.ProfileDetails > img {
	position: absolute;
	background-color: #f4f8fb;
	top: -25px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 0 0 10px grey;
}

.ProfileUpdateStatus {
	position: absolute;
	top: -10px;
	left: 10px;
	font-size: 12px;
	background-color: yellow;
	padding: 2px 4px;
}

.ProfileDetails,
.ProfileDetails > p {
	padding-bottom: 15px;
}

.ProfileDetails > p:nth-child(odd) {
	font-weight: bold;
}

.ProfileDetails > p:first-child {
	padding-top: 40px;
}

.UpdateProfileButton {
	color: grey;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.UpdateProfileButton:hover {
	color: orange;
}

.UpdateProfileSubmit {
	color: green;
	position: absolute;
	bottom: 5px;
	right: 5px;
	cursor: pointer;
}

.UpdateProfileSubmit:hover {
	font-size: larger;
}

.ProfileUpdateField {
	padding: 5px;
	margin-bottom: 10px;
}

.Badge {
	font-size: 12px;
    border-radius: 3px;
    padding: 2px;
    color: white;
}

.Badge:hover {
	cursor: pointer;
}

.users-list {
	padding: 15px;
	background-color: white;
}

.users-list > p {
	margin-bottom: 5px;
}

.users-list > p:last-child {
	margin-bottom: 0;
}

.bg-purple {
	background-color: purple;
}

.bg-maroon {
	background-color: maroon;
}

.bg-olive {
	background-color: darkolivegreen;
}

.SocialConnectOptions {
	margin-bottom: 10px;
}

.SocialConnectButton {
	padding: 2px 5px;
    background: #e4e4e4;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    color: black;
    font-weight: bold;
}

.SocialConnectButton:first-child {
	margin-right: 10px;
}

.SocialConnectButton:hover {
	cursor: pointer;
	border: 1px solid black;
}

@media only screen and (max-width: 420px) {
	.Profile {
		margin-top: 0;
	}
}
