.Complaints {
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: white;
}

.Complaints > div:last-child {
	border-bottom: none;
}

.complaints-list-content-wrapper > p {
	padding: 10px;
}

.ComplaintsHeader {
	background-color: #f2f2f2;
	align-items: center;
}

.ComplaintsHeader > h3 {
	text-align: left;
	padding: 10px;
	display: inline-block;
}

.ComplaintsFilter {
	padding: 10px;
	margin-left: auto;
}

.ComplaintsFilter > i {
	margin-right: 5px;
}

.ComplaintStatusFilter {
	background-color: transparent;
	border: none;
	font-weight: bold;
}

.ComplaintStatusFilter:focus {
	outline: none;
}

.ComplaintsListHeadings {
	font-weight: bold;
	background-color: white;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.ComplaintsListHeadings > div {
	flex: 25%;
	padding: 20px;
	border-right: 1px solid #ccc;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ComplaintsListHeadings > div:last-child {
	border: none;
}

.ComplaintsList {
	width: 100%;
	border-collapse: collapse;
}

.ComplaintsList .ComplaintsListRow {
	border-bottom: 1px solid #ccc;
}

.complaints-list-content-wrapper {
	overflow: auto;
}

tbody > .ComplaintsListRow:last-child {
	border-bottom: none;
}

td, th {
	text-align: center;
	padding: 20px;
	border-right: 1px solid #ccc;
}

td:last-child, th:last-child {
	border-right: none;
}

@media only screen and (max-width: 420px) {
	.ComplaintsHeader {
		flex-direction: column;
		align-items: flex-start;
	}

	.ComplaintsFilter {
		margin-left: 0;
	}
} 