.flex-100 {
	flex: 1;
}

.links-container {
	justify-content: space-between;
	margin-top: 5px;
	font-size: 12px;
	color: #ccc;
}

.darken {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
		url(/static/media/feed-header-image.99848743.jpg);
}

.Feed > p {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.FeedHeader {
	padding-top: 10px;
	margin-bottom: 20px;
	position: relative;
}

.FeedHeaderGreeting {
	margin-right: 15px;
}

.FeedHeaderImage {
	background: url('../../assets/images/feed-header-image.jpg') no-repeat center center/cover;
	height: 200px;
	flex-direction: column;
	justify-content: center;
	padding-left: 40px;
}

.FeedHeaderImage > p {
	color: white;
	font-weight: bold;
	font-size: 24px;
}

.FeedHeaderLogo {
	width: 100px;
	height: 100px;
	position: absolute;
	top: -10px;
	left: 40px;
	box-shadow: 0 0 10px grey;
}

.FeedBody {
	padding: 20px 40px;
}

.FeedBodyNav {
	flex: .2;
	margin-right: 20px;
}

.FeedBodyNav > p {
	color: #ccc;
	margin-top: 10px;
	font-size: 12px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.links-container > div > a {
	text-decoration: none;
	margin-right: 5px;
}

.links-container > div > a:hover,
.links-container > div > a:active {
	color: orange;
}

.links-container > div > a:last-child {
	margin-right: 0;
}

.flex-80 {
	flex: .8;
}

.Logout {
	justify-content: flex-end;
	align-items: center;
	margin-right: 40px;
}

.Logout > i {
	color: #f4b585;
}

.LogoutButton {
	outline: none;
	border: none;
	font-size: 16px;
	margin-right: 10px;
	color: #f4b585;
	background-color: transparent;
	cursor: pointer;
}

.ProfileImage {
	height: 30px;
	border-radius: 50%;
	margin-right: 15px;
}

.scroll-top-btn {
	position: fixed;
	text-decoration: none;
	left: 20px;
	bottom: 20px;
	border-radius: 50%;
	color: #f4b585;
}

.FeedHeaderContainer {
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 10px;
}

.FeedHeaderContainer > .Search {
    margin-right: 40px;
}

@media only screen and (max-width: 950px) {
	.FeedHeaderLogo {
		left: 10px;
	}
	
	.Logout {
		margin-right: 10px;
	}
	
	.FeedBody {
		flex-direction: column;
		padding: 20px 10px;
	}
	
	.FeedBodyNav {
		margin-right: 0;
		margin-bottom: 40px;
	}
}

@media only screen and (max-width: 700px) {
	.FeedHeaderContainer {
		flex-direction: column-reverse;
		align-items: flex-end;
	}
	
	.LogoutButton {
		margin-right: 0;
	}
	
	.FeedHeaderContainer > .Search {
		margin-right: 10px;
	}
	
	.Logout {
		margin-bottom: 10px;
	}
	
}

@media only screen and (max-width: 420px) {

	.FeedHeaderContainer {
		padding: 5px;
	}

	.FeedHeaderContainer > .Search {
		width: 100%;
	}

	.Logout {
		flex-direction: column;
		align-items: flex-end;
	}

	.Logout > * {
		margin-bottom: 5px;
	}

	.FeedHeaderGreeting, .FeedHeaderContainer > .Search {
		margin-right: 0;
	}
}