.Images {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.BuzzImage {
    margin-top: 15px;
    height: 200px;
}

.Images > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Images > div {
    flex: 1 1 300px;
}