.Pagination {
    list-style: none;
    overflow: auto;
}

.PageName {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 14px;
    display: inline-block;
}

.PaginationContainer {
    justify-content: center;
    border-top: 1px solid #ccc;
}

.active {
    color: coral;
}

.PageName:hover {
    color: #f4b585;
    cursor: pointer;
    background-color: rgb(247, 244, 244);
}