.Comment {
    border: 1px solid ;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.CommentUserData {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.CommentData {
    font-size: 14px;
}

.ReplyButton {
    font-size: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    color: grey;
}

.ReplyButton:hover {
    color: #f4b585;
}
