.error {
	border: 1px solid red;
	background-color: #fdeaea;
	padding: 5px;
}

.Form {
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: white;
	margin-bottom: 40px;
}

.Form > p {
	padding: 10px;
}

.form-group label {
	text-align: left;
	margin-bottom: 10px;
}

.form-group textarea {
	padding: 10px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.form-group {
	flex-direction: row;
	margin: 10px;
}

.form-group > div {
	overflow: hidden;
}

.form-group > div {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.form-group > div:first-child {
	margin-right: 10px;
}

.Form form > div:nth-last-child(2) {
	flex-direction: row-reverse;
}

.Form form div:nth-child(4) {
	flex-direction: column;
}

#SubmitComplaint {
	margin-left: auto;
}

.ComplaintField {
	font-size: 18px;
	padding: 10px;
	background-color: transparent;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.ComplaintFieldLabel {
	color: #ccc;
	font-size: 16px;
}

.FormHeader {
	text-align: left;
	padding: 10px;
	background-color: #f2f2f2;
}

#ImageAttachment {
	opacity: 0%;
	width: 140px;
	position: absolute;
	margin-left: 16px;
}

.remove-file {
	margin-right: 10px;
}

.form-group .image-attachment-overlay {
	flex-direction: row;
	align-items: center;
}

.image-attachment-overlay:hover {
	cursor: pointer;
}

.image-attachment-overlay > i {
	color: grey;
}

.form-group .image-attachment-overlay > label {
	margin-bottom: 0;
}

.BuzzFormBody > textarea {
	padding: 10px;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

.BuzzFormFooter {
	justify-content: flex-start;
	align-items: center;
}

.BuzzFormFooter > i:hover {
	cursor: pointer;
}

#BuzzImageAttachment {
	opacity: 0%;
	width: 20px;
	position: absolute;
}

.SubmitBuzz {
	margin-left: auto;
	margin-right: 20px;
	align-items: center;
	justify-content: center;
}
.SubmitBuzz > button {
	padding: .5em;
}

.SubmitBuzz > button > i {
	margin-left: 10px;
}

.BuzzCategory {
	font-size: 18px;
	padding: 10px;
	background-color: transparent;
	outline: none;
	border: none;
	margin-right: 20px;
	color: grey;
}

@media screen and (max-width: 420px) {
	.BuzzFormFooter {
		flex-direction: column;
		align-items: flex-start;
	}

	.SubmitBuzz {
		margin-left: 10px;
		padding: 10px 0;
	}

	.BuzzFormFooter .image-attachment-overlay {
		margin-left: 10px;
	}

	.form-group {
		flex-direction: column;
	}

	.form-group > div:first-child {
		margin-right: 0;
		margin-bottom: 10px;
	}
}
