.ComplaintsListItem {
	background-color: white;
	border-bottom: 2px solid #ccc;
}


.ComplaintsListItem > div {
	flex: 1;
	padding: 20px;
	border-right: 2px solid #ccc;
	text-align: center;
}

.ComplaintsListItem > div:last-child {
	border: none;
}

