.ComplaintsListItem {
	background-color: white;
	border-bottom: 1px solid #ccc;
}

.ComplaintsListItem > div {
	flex: 25%;
	padding: 20px;
	border-right: 1px solid #ccc;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ComplaintsListItem > div:last-child {
	padding: 0;
	border: none;
}

.ComplaintStatus {
	border: none;
	text-align-last: center;
}

.ComplaintId {
	text-decoration: underline;
	color: #8ab4f8;
}

.ComplaintStatusToggle {
	padding: 0;
	background-color: transparent;
	font-size: inherit;
}

.Open {
	color: #f19ea4;
}

.Resolved {
	color: #8bd4a2;
}

.InProgress {
	color: #7891fc;
}

.Black {
	color: black;
}
