.Post {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	overflow: auto;
}

.Post:last-child {
	border-bottom: none;
}

.PostContainerOne {
	flex: .05;
}

.PostContainerOne > p {
	font-size: 35px;
	font-style: italic;
}

.PostContainerTwo {
	margin-left: 10px;
	flex: .95;
}

.PostContainerTwo > p {
	word-break: break-all;
}

#PostCreatedMonth,
#PostUserData {
	color: lightgrey;
}

#PostUserData {
	margin-bottom: 10px;
}

#PostText {
	font-size: 18px;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 2px;
	max-height: 100px;
	overflow: auto;
}

.PostModificationOptions > i {
	cursor: pointer;
	color: grey;
}

.deletePost:hover {
	color: red;
}

.editPost {
	float: right;
}

.editPost:hover {
	color: orange;
}

.PostFooter {
	flex-wrap: wrap;
	align-items: center;
	padding: 5px;
	justify-content: space-between;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.PostFooter > span {
	color: grey;
}

.PostFooter > span:hover {
	cursor: pointer;
	color: black;
}