.Post {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	overflow: auto;
}

.Post:last-child {
	border-bottom: none;
}

.PostContainerOne {
	flex: .05;
}

.PostContainerOne > p {
	font-size: 35px;
	font-style: italic;
}

.PostContainerTwo {
	margin-left: 10px;
	flex: .95;
}

#PostCreatedMonth,
#PostUserData {
	color: lightgrey;
}

#PostUserData {
	margin-bottom: 10px;
}

#PostText {
	font-size: 24px;
}
