.LikeDislike {
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

.HoverCursor:hover {
    cursor: pointer;
}

.Active {
    color: #f4b585;
}

.Inactive {
    color: grey;
}